/* =Alert
----------------------------------------------- */

.error {
    @include border-radius(4px);
    padding: 8px 35px 8px 14px;
    border: 1px solid #eed3d7;
    background-color: #f2dede;
    color: #b94a48;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
