/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.ytcshort {
	margin-top: 0 !important;
}

.widget-area {
	ul {
		margin-left: 0;

		li {
			padding: .5em 0;
			border-bottom: 1px solid #ccc;
			list-style-type: none;
		}
	}

	.widget_woodojo_instagram {
		ul li {
			border-bottom: 0;
		}
	}
}

h1.widget-title {
	margin-bottom: .5em;
}

.news-item {
	h2 {
		margin-top: .5em;
	}
}

.jetpack_subscription_widget {
	input[type="text"] {
		padding: 5px 14px !important;
		width: 143px !important;
	}
	input[type="submit"] {
		background: #333;
		border-radius: 1px;
		color: #eee;
		cursor: pointer;
		text-shadow: none;
		border: 0;
		box-shadow: none;
		font-size: 13px;
		padding: 8px 16px;
	}
}