/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	clear: both;
	margin: 0 0 1.5em;

	.post-format {
		margin-bottom: 1em;

		&.link {
			margin-top: 10px;
			text-align: center;

			h1 {
				border-bottom: 2px solid $grey;
				display: inline-block;
				margin-bottom: 1em;
			}
		}
	}

	.who {
		float: left;
		width: 80px;

		img {
			@include border-radius(60px);
		}

		@include breakpoint(small) {
			display: none;
		}

	}

	.post-side {
		@include clearfix;
		float: left;
		width: 496px;

		.entry-meta {
			color: $light;
			
			a {
				color: $light;
				font-weight: $font-weight; 
			}
		}

		footer.entry-meta {
			margin-bottom: 4em;
		}

		@include breakpoint(small) {
			width: 100%;
		}
	}

	.entry-header {
		border-bottom: 2px solid $grey;
		padding-bottom: 1em;
	}

	footer.entry-meta {
		border-top: 1px solid rgba(0,0,0,.13);
		padding-top: .5em;
	}

	hr {
		clear: both;
		margin-bottom: 2em;
	}
}

.byline {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.comments-area {
	h3 {
		margin-bottom: 1em;
	}
}