/* =Footer
----------------------------------------------- */

.site-footer {
	border-top: 1px solid #ccc;
	font-size: 12px;
	margin-bottom: 4em;
	margin-top: 2em;
	padding-top: 2em;

	img {
		float: right;

		@include breakpoint(small) {
			float: none;
		}
	}

	hr {
		clear: both;
	}

	.contact,
	.press,
	.social {
		float: left;
		width: 25%;

		h3,
		p {
			padding-right: 20px;

			@include breakpoint(small) {
				padding-right: 0;
			}
		}

		@include breakpoint(small) {
			float: none;
			width: 100%;
		}
	}
}

/* Scroll to top */
#scrollUp {
	background: url(../img/top.png) no-repeat;
	bottom: 20px;
	height: 38px;
	right: 20px;
	width: 38px;
}