/* =Header
----------------------------------------------- */

.site-header {
	margin-top: 40px;
}

h1.site-title {
	margin-bottom: .5em;
	font-style: italic;
	font-size: 3em;
}

h2.site-description {
	margin-bottom: 2em;
	font-style: italic;
	font-size: 2em;
	line-height: 1.2em;
}
