/* =Layout
----------------------------------------------- */

#page {
	width: 960px;
	margin: 0 auto;
}

.site-main {
	margin-top: 20px;

	.widget-area {
		float: left;
		overflow: hidden;
	}
}

.content-area {
	float: left;
	width: 100%;
}
.site-content {
	margin: 0 40% 0 0;
}

/* Sidebars */
.youtube {
	margin: 0 0 0 -38%;
	width: 38%;
	float: left;
	@include clearfix;

	ul.ytchagallery.ytccf {
		margin-top: 20px !important;
	}

	.ytcliinner {
		padding-right: 11px !important;
	}

	.ytccell-3,
	.ytccell-6,
	.ytccell-9 {
		.ytcliinner {
			padding-right: 0 !important;
		}
	}

}
#secondary {
	width: 173px;

	iframe {
		max-width: 173px !important;
	}
}
#tertiary {
	width: 173px;
	float: right;
}

/* Site footer */

.site-footer {
	clear: both;
	width: 100%;
}