/* =Layout
----------------------------------------------- */

/* Background */
.page-wrapper {
	background-color: $white;
	margin: 0 auto;
	max-width: 1040px;
}

#page {
	margin: 0 auto;
	width: 960px;

	@include breakpoint(small) {
		width: 90%;
	}
}

.site-main {
	margin-top: 20px;

	.widget-area {
		float: left;
		overflow: hidden;
	}
}

.content-area {
	float: left;
	width: 100%;
}

.site-content {
	margin: 0 40% 0 0;

	@include breakpoint(small) {
		margin-right: 0;
	}
}

/* Sidebars */
.youtube {
	@include clearfix;
	float: left;
	margin: 0 0 0 -38%;
	width: 38%;

	ul.ytchagallery.ytccf {
		margin-top: 20px !important;
	}

	.ytcliinner {
		padding-right: 11px !important;
	}

	.ytccell-3,
	.ytccell-6,
	.ytccell-9 {
		.ytcliinner {
			padding-right: 0 !important;
		}
	}

	@include breakpoint(small) {
		display: none;
	}
}

#secondary {
	width: 173px;

	// Don't show sharing links in the sidebar
	.sharedaddy {
		display: none;
	}

	iframe {
		max-width: 173px !important;
	}
}
#tertiary {
	float: right;
	width: 173px;

	// Make tweet timestamp display on it's own line
	small.time-ago {
		display: block;
	}
}

/* Site footer */

.site-footer {
	clear: both;
	width: 100%;
}