/* =Links
----------------------------------------------- */

a {
	@include transition(color 0.1s ease-in, color 0.1s ease-out);
	color: $grey;
	font-weight: bold;
	text-decoration: none;

	&:visited {
		color: $grey;
	}

	&:hover,
	&:focus,
	&:active {
		color: lighten($grey,40%);
	}
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	font-weight: $font-weight;
}