/* =Links
----------------------------------------------- */

a {
	@include transition(color 0.1s ease-in, color 0.1s ease-out);
	color: $grey;
	text-decoration: none;
	font-weight: bold;

	&:visited {
		color: $grey;
	}

	&:hover,
	&:focus,
	&:active {
		color: lighten($grey,40%);
	}
}