/* =Menu
----------------------------------------------- */

.navigation-main {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	border-bottom: 1px solid #ccc;
}

.navigation-main ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.navigation-main li {
	float: left;
	position: relative;
	margin-bottom: -1px;

	&.current-menu-item a {
		font-weight: bold;
		border-bottom: 3px solid $black;
	}
}

.navigation-main a {
	display: block;
	text-decoration: none;
	padding: 8px 10px; 
	font-weight: 300;
}

.navigation-main ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	display: none;
	float: left;
	position: absolute;
		top: 41px;
		left: 0;
	z-index: 99999;
}

.navigation-main ul ul ul {
	left: 100%;
	top: 0;
}

.navigation-main ul ul a {
	width: 200px;
	margin-right: 0;
	background-color: darken($white,10%);
	padding: 5px 10px;
}