.mmenu-button {
	display: none;
}

@include breakpoint(small) {

	a.mmenu-button {
		@include leader();
		background-color: #333;
		color: #eee;
		display: inline-block;
		font-size: 13px;
		padding: 6px 16px;
	}

	/*
		Menu
			- positioning and sizing
	*/

	.navigation-main li {
		float: none;
	}

	html.mmenu-opened,
	html.mmenu-opened body {
		height: 100%;
		overflow: hidden;
		width: 100%;
	}

	html.mmenu-opened body {
		position: relative;
	}

	.mmenu {
		-webkit-overflow-scrolling: touch;
		display: none;
		height: 100%;
		left: 0;
		overflow-x: hidden;
		overflow-y: auto;
		overflow: auto;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;
	}

	.mmenu,
	.mmenu * {
		-webkit-text-size-adjust: none;
		font-family: Arial, Helvetica, Garuda, sans-serif;
		font-size: 14px;
	}

	.mmenu ul,
	.mmenu li,
	.mmenu li > a,
	.mmenu li > span {
		display: block;
		margin: 0;
		padding: 0;
	}

	.mmenu > ul {
		padding: 10px 0 40px 0;
	}

	.mmenu .mmenu-hidden {
		display: none;
	}

	html.mmenu-left .mmenu > ul > li {
		padding-right: 65px;
	}

	html.mmenu-right .mmenu > ul > li {
		padding-left: 65px;
	}

	html.mmenu-opened .mmenu.mmenu-opened {
		display: block;
	}

	html.mmenu-opened .mmenu-page {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		background-color: inherit;
		box-shadow: 0 0 20px rgba( 0, 0, 0, 0.8 );
		box-sizing: border-box;
		min-height: 100%;
		position: absolute;
		z-index: 1;
	}

	#mmenu-blocker {
		display: none;
	}

	html.mmenu-opened #mmenu-blocker {
		background: rgba( 255, 255, 255, 0.1 );
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
	}

	html.mmenu-opened .mmenu-page,
	html.mmenu-opened #mmenu-blocker {
		-moz-transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;
		-webkit-transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;
		transition: left 0.5s ease, right 0.5s ease, margin 0.5s ease;
	}

	html.mmenu-left.mmenu-opened .mmenu-page,
	html.mmenu-left.mmenu-opened #mmenu-blocker {
		left: 0%;
		margin-left: 0px;
	}

	html.mmenu-left.mmenu-opening .mmenu-page,
	html.mmenu-left.mmenu-opening #mmenu-blocker {
		left: 100%;
		margin-left: -65px;
	}

	html.mmenu-right.mmenu-opened .mmenu-page,
	html.mmenu-right.mmenu-opened #mmenu-blocker {
		margin-right: 0px;
		right: 0%;
	}

	html.mmenu-right.mmenu-opening .mmenu-page,
	html.mmenu-right.mmenu-opening #mmenu-blocker {
		margin-right: -65px;
		right: 100%;
	}

	/*
		Menu
			- styling
	*/
	.mmenu {
		background: #333;
	}

	.mmenu * {
		text-shadow: 0 1px 2px rgba( 0, 0, 0, 0.5 );
	}

	.mmenu li {
		border-bottom: 1px solid #111;
		border-top: 1px solid #444;
		border: none;
		position: relative;
	}

	.mmenu li:first-child {
		border-top-width: 0;
	}

	.mmenu li > a,
	.mmenu li > span {
		line-height: 40px;
		overflow: hidden;
		padding-right: 5px;
		text-indent: 20px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.mmenu li > a,
	.mmenu li > span,
	.mmenu li > a:hover {
		color: #999;
		text-decoration: none;
	}

	.mmenu li.mmenu-selected > a,
	.mmenu li.mmenu-selected > span {
		background: #222;
	}

	.mmenu li.mmenu-selected > a.mmenu-subopen {
		background: transparent;
	}

	/*
		Submenu
			- open link
	*/
	.mmenu a.mmenu-subopen {
		border-left: 1px solid #111;
		height: 40px;
		padding: 0;
		position: absolute;
		right: 65px;
		top: 0;
		width: 40px;
		z-index: 2;
	}

	html.mmenu-right .mmenu a.mmenu-subopen {
		right: 0;
	}

	.mmenu ul ul a.mmenu-subopen {
		right: 0;
	}

	.mmenu a.mmenu-subopen.mmenu-fullsubopen {
		width: 100%;
	}

	.mmenu a.mmenu-subopen + a,
	.mmenu a.mmenu-subopen + span {
		padding-right: 45px;
	}

	/*
		Submenu
			- close link
	*/
	.mmenu a.mmenu-subclose {
		background: #222;
		margin-top: -10px;
		padding-top: 10px;
		text-indent: 40px;
	}

	/*
		Submenu
			- vertical
	*/
	.mmenu.mmenu-vertical ul ul {
		display: none;
		padding: 0 10px 10px 10px;
	}

	.mmenu.mmenu-vertical li.mmenu-opened > ul {
		display: block;
	}

	.mmenu.mmenu-vertical ul ul li:last-child {
		border-bottom-width: 0;
	}

	/*
		Submenu
			- horizontal
	*/
	.mmenu.mmenu-horizontal {
		width: 200%;
	}

	.mmenu.mmenu-horizontal ul {
		-moz-box-sizing: border-box;
		-moz-transition: margin-left 0.5s ease;
		-webkit-box-sizing: border-box;
		-webkit-transition: margin-left 0.5s ease;
		box-sizing: border-box;
		float: left;
		margin-left: 0%;
		transition: margin-left 0.5s ease;
		width: 50%;
	}

	.mmenu.mmenu-horizontal ul.mmenu-submenu {
		display: none;
	}

	.mmenu.mmenu-horizontal ul.mmenu-submenu.mmenu-opened {
		display: block;
	}

	.mmenu.mmenu-horizontal ul.mmenu-subopened {
		height: 100%;
		margin-left: -50%;
		overflow: hidden;
	}

	/*
		Labels
	*/
	.mmenu li.mmenu-label {
		background: #444;
		color: #ccc;
		font-size: 11px;
		line-height: 20px;
		text-indent: 20px;
		text-transform: uppercase;
	}

	/*
		Counters
	*/
	.mmenu em.mmenu-counter {
		background: #555;
		border-radius: 5px;
		box-shadow: 0 0 2px rgba( 0, 0, 0, 0.3 );
		color: #999;
		display: block;
		font-size: 11px;
		font-style: normal;
		font-weight: bold;
		height: 20px;
		line-height: 22px;
		min-width: 20px;
		padding: 0;
		position: absolute;
		right: 105px;
		text-align: center;
		text-indent: 0;
		text-shadow: none;
		top: 10px;
	}

	.mmenu em.mmenu-counter + a.mmenu-subopen {
		padding-left: 35px;
	}

	.mmenu em.mmenu-counter + a.mmenu-subopen + a,
	.mmenu em.mmenu-counter + a.mmenu-subopen + span {
		padding-right: 80px;
	}

	.mmenu em.mmenu-counter + a.mmenu-fullsubopen + a,
	.mmenu em.mmenu-counter + a.mmenu-fullsubopen + span {
		padding-right: 70px;
	}

	/* at right or subsub */
	html.mmenu-right .mmenu em.mmenu-counter,
	.mmenu.mmenu-vertical ul ul em.mmenu-counter {
		right: 40px;
	}

	/*
		Arrows
	*/
	.mmenu a.mmenu-subopen:after,
	.mmenu a.mmenu-subclose:before {
		border-left: none;
		border-top: none;
		border: 4px solid rgba( 255, 255, 255, 0.3 );
		content: '';
		display: block;
		height: 6px;
		position: absolute;
		width: 6px;
	}

	.mmenu a.mmenu-subopen:after {
		-webkit-transform: rotate( 315deg );
		right: 16px;
		top: 16px;
		transform: rotate( 315deg );
	}

	.mmenu a.mmenu-subclose:before {
		-webkit-transform: rotate( 135deg );
		left: 20px;
		top: 25px;
		transform: rotate( 135deg );
	}

	.mmenu.mmenu-vertical li.mmenu-opened > a.mmenu-subopen:after {
		-webkit-transform: rotate( 45deg );
		transform: rotate( 45deg );
	}

	html.mmenu-right .mmenu a.mmenu-subclose:before {
		left: 85px;
	}
}