/* =Navigation
----------------------------------------------- */

.site-content [class*="navigation"] {
	margin: 0 0 1.5em;
	overflow: hidden;
}
[class*="navigation"] .previous {
	float: left;
	width: 50%;
}
[class*="navigation"] .next {
	float: right;
	text-align: right;
	width: 50%;
}