/* =Variables
----------------------------------------------- */

$font-family: 	"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-weight: 	300;
$font-size:		14px;
$line-height:	22px;

$white:		#fefefe;

$black:		#414141;
$grey:		#333333;
$light: 	#999999;

/* Media queries */

@mixin breakpoint($point) {
	@if $point == small {
		@media (max-width: 650px)  { @content; }
	}
}