//--------------------------------------------------------------
//  imports
//--------------------------------------------------------------

@import 'susy';
@import 'mixins/mixins-master';
@import 'variables-site/colors';
@import 'modules/accessibility';
@import 'reset';

//--------------------------------------------------------------
//  variables
//--------------------------------------------------------------

$spacing: 20px;
$text-dark: #2a2a2a;
$text-light: #989898;
$linkfire: #fc3429;

// breakpoints
$breakpoints: (
  'medium': (min-width: 800px),
  'large': (min-width: 1000px),
  'huge': (min-width: 1200px),
);

// responsive breakpoint manager
@mixin mq($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);
  @if $raw-query {
    $query: if(
    type-of($raw-query) == 'string',
    unquote($raw-query),
    inspect($raw-query)
    );
    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.';
  }
}

$susy: (
  columns: 12,  // The number of columns in your grid
  gutters: 1/4, // The size of a gutter in relation to a single column
  column-width: 80px,
  // math: static
);

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

//--------------------------------------------------------------
//  base
//--------------------------------------------------------------

html,
body {
  overflow-x: hidden;
}

.goto {
  display: block;
  margin-top: -85px;
  padding-bottom: 85px;
  @include mq('medium') {
    margin-top: -100px;
    padding-bottom: 100px;
  }
}

html.ltr25 {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  color: $text-light;
  //--------------------------------------------------------------
  //  grid
  //--------------------------------------------------------------
  body {
    position: relative;
    max-width: 100vw;
    &.nav--open {
      position: fixed;
      overflow: hidden;
      .nav {
        .nav__wrapper {
          transform: translateX(0);
        }
      }
    }
  }
  p {
    margin-bottom: 1em;
  }
  .mb {
    margin-bottom: $spacing;
  }
  .intro {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: $spacing;
    text-transform: uppercase;
    color: $text-dark;
    div {
      color: $text-light;
    }
    & + h1 {
      color: $text-dark;
    }
  }
  a {
    color: $text-light;
    &:hover {
      text-decoration: none;
    }
  }
  h1,
  h2,
  h3,
  h4,
  strong {
    font-weight: 400;
  }
  //--------------------------------------------------------------
  //  header
  //--------------------------------------------------------------
  .header {
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%;
    padding: $spacing;
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 2400ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    background-color: #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
    @include mq('medium') {
      height: 100px;
    }
    .wrapper {
      display: flex;
      flex: 1;
      justify-content: space-between;
      align-items: center;
      @include mq('medium') {
        @include container;
      }
    }
  }
  .logo {
    position: relative;
    flex: 1;
    @include mq('medium') {
      @include span(4 of 12);
      &:before {
        position: absolute;
        bottom: -9.75px;
        left: 62px;
        display: block;
        width: 40px;
        height: 40px;
        content: '';
        transform: rotate(45deg);
        border-radius: 14px;
        background-color: #fff;
      }
    }
    svg {
      width: 68px;
      height: 40px;
      @include mq('medium') {
        position: relative;
        bottom: -22px;
        width: 165px;
        height: 99px;
      }
    }
  }
  .nav {
    @include mq('medium') {
      @include span(last 8 of 12);
    }
    &__header {
      display: flex;
      align-items: center;
      padding-bottom: $spacing;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      @include mq('medium') {
        display: none;
      }
      .logo {
        flex: 1;
        svg {
          width: 68px;
          height: 40px;
          fill: #fff;
        }
      }
    }
    &__wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      padding: $spacing;
      transition: transform 0.3s;
      transform: translateX(100%);
      background-color: #333;
      background-image: url('/wp-content/themes/looptroop-rockers-v5/img/ltr25/texture_footer.jpg');
      background-size: cover;
      @include mq('medium') {
        position: relative;
        width: auto;
        height: auto;
        padding: 0;
        transform: translateX(0);
        background-color: #fff;
        background-image: none;
      }
    }
    &__open {
      @include mq('medium') {
        display: none;
      }
    }
    &__close {
      @include mq('medium') {
        display: none;
      }
    }
    ul {
      @include mq('medium') {
        flex: 1;
      }
    }
    li {
      font-weight: 400;
      padding: $spacing 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      @include mq('medium') {
        font-size: 14px;
        line-height: 2;
        display: inline-block;
        margin: 0 $spacing;
        padding: 0;
        text-transform: uppercase;
        border-bottom: 0;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          float: right;
          margin-right: 0;
        }
      }
      &:last-child {
        svg {
          width: auto;
          height: 10px;
          margin-left: 6px;
        }
      }
      a {
        text-decoration: none;
        color: #fff;
        @include mq('medium') {
          color: $text-dark;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  //--------------------------------------------------------------
  //  hero
  //--------------------------------------------------------------
  .hero {
    margin-top: 140px;
    @include mq('medium') {
      margin-top: 160px;
    }
    header {
      margin: ($spacing * 3) $spacing;
      @include mq('medium') {
        @include container;
      }
      .headlines {
        @include mq('medium') {
          @include span(isolate 10 at 3);
        }
      }
      h1,
      h2 {
        font-size: 28px;
        line-height: 1.2;
      }
      h1 {
        color: $text-dark;
      }
      h2 {
        color: $text-light;
        .first {
          display: block;
          animation: fade-in 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation-delay: 600ms;
          @include mq('medium') {
            display: inline;
          }
        }
        .second {
          display: block;
          animation: fade-in 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation-delay: 1200ms;
          @include mq('medium') {
            display: inline;
          }
        }
        .third {
          display: block;
          animation: fade-in 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation-delay: 1800ms;
          @include mq('medium') {
            display: inline;
          }
        }
      }
    }
    &__img {
      position: relative;
      max-height: 460px;
      padding-bottom: 400px;
      animation: fade-in 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation-delay: 2400ms;
      background-image: url('/wp-content/themes/looptroop-rockers-v5/img/ltr25/LTR25_2_BW_low_res.jpg');
      background-position: top center;
      background-size: cover;
      @include mq('medium') {
        max-width: 1440px;
        height: 920px;
        max-height: 920px;
        margin: 0 auto;
      }
      .ltr25-filled {
        position: absolute;
        top: (gutter() * 3);
        left: gutter();
        width: 120px;
        height: 120px;
        @include mq('medium') {
          left: 0;
          width: 275px;
          height: 275px;
        }
      }
    }
  }
  //--------------------------------------------------------------
  //  content
  //--------------------------------------------------------------
  .content {
    padding: ($spacing * 2) $spacing;
    animation: fade-in 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 2400ms;
    @include mq('medium') {
      padding: ($spacing * 4) 0;
      @include container;
      .intro {
        font-size: 14px;
        @include span(4 of 12);
      }
      .content-right {
        font-size: 26px;
        @include span(last 8 of 12);
      }
    }
    p:last-child {
      margin-bottom: 0;
    }
    h1,
    h2,
    h3 {
      margin-bottom: 1em;
      color: $text-dark;
    }
  }
  //--------------------------------------------------------------
  //  releases
  //--------------------------------------------------------------
  .releases {
    // background-size: cover;
    overflow: hidden;
    padding: ($spacing * 2) $spacing;
    background-color: #eee;
    background-image: url('/wp-content/themes/looptroop-rockers-v5/img/ltr25/concrete_seamless.png');
    @include mq('medium') {
      padding: ($spacing * 4) 0;
      header {
        @include container;
      }
      .intro {
        font-size: 14px;
        @include span(4 of 12);
      }
      .content-right {
        font-size: 26px;
        @include span(last 8 of 12);
      }
      h1 {
        color: $text-dark;
      }
    }
    .releases-list {
      overflow: hidden;
      @include mq('medium') {
        @include container;
      }
    }
  }
  .release {
    overflow: hidden;
    margin-top: ($spacing * 2);
    @include mq('medium') {
      @include span(4 of 12);
    }
    &__img {
      margin-bottom: $spacing;
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
    &__col1 {
      margin-right: $spacing;
      color: $text-dark;
      @include span(2 of 4);
      a {
        color: $text-dark;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &__col2 {
      text-transform: uppercase;
      @include span(2 of 4);
      @include last();
    }
    &__ext-link {
      svg {
        width: 22px;
        height: 22px;
        fill: $linkfire;
      }
    }
    &--unreleased {
      .release__col1 {
        color: $text-light;
      }
      .release__ext-link {
        svg {
          fill: $text-light;
        }
      }
    }
  }
  //--------------------------------------------------------------
  //  press
  //--------------------------------------------------------------
  .press {
    padding: ($spacing * 2) $spacing;
    @include mq('medium') {
      padding: ($spacing * 4) 0;
      @include container;
      .intro {
        font-size: 14px;
        @include span(4 of 12);
      }
      .content-right {
        font-size: 26px;
        @include span(last 8 of 12);
      }
    }
    header h1 {
      color: $text-dark;
    }
  }
  .press-section {
    margin-top: ($spacing * 2);
    h1 {
      margin-bottom: $spacing;
    }
  }
  .press-item {
    display: flex;
    align-items: center;
    padding: $spacing 0;
    border-top: 1px solid #d8d8d8;
    &:last-child {
      border-bottom: 1px solid #d8d8d8;
    }
    &__photo {
      margin-right: $spacing;
    }
    &__desc {
      font-size: 14px;
      flex: 1;
    }
    a {
      font-size: 18px;
      display: block;
      margin-bottom: 0.5em;
      text-decoration: none;
      color: $text-dark;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  //--------------------------------------------------------------
  //  footer
  //--------------------------------------------------------------
  .footer {
    font-size: 16px;
    line-height: 1.5;
    padding: ($spacing * 2) $spacing;
    color: #fff;
    background-color: #333;
    background-image: url('/wp-content/themes/looptroop-rockers-v5/img/ltr25/texture_footer.jpg');
    background-size: cover;
    @include mq('medium') {
      padding: ($spacing * 4) 0;
      .footer-wrap {
        @include container;
      }
      .col {
        @include span(3 of 12);
        &:last-child {
          @include last();
        }
      }
    }
    svg {
      width: 100px;
      height: auto;
      margin-bottom: ($spacing * 2);
      fill: #fff;
    }
    ul {
      margin-bottom: ($spacing * 2);
    }
    a {
      text-decoration: none;
      color: #fff;
    }
    strong {
      color: #ebb369;
    }
    .footer-credits {
      @include mq('medium') {
        margin-top: (gutter() * 2);
        @include container;
        .col {
          @include span(3 of 12);
          &:first-child {
            margin-left: span(6) + gutter();
          }
          &:last-child {
            @include last();
          }
        }
      }
      a {
        color: $text-light;
      }
    }
  }
}
