.site {
  @include container(1040px);
  padding: gutter() * 4;
  background-color: $color__background-body;
}

.site-header {
  @include span(12 of 12);
  margin-bottom: gutter() * 2;
}

.content-area {
	@include span(7 of 12);
  @include breakpoint(small) {
    @include span(12 of 12);
  }
}

.site-content .widget-area {
  @include span(5 of 12 nest);

  &__yt {
    @include span(5 of 5);
    margin-bottom: gutter() * 2;
  }
  &__one,
  &__two {
    @include span(1 of 2);
  }

  @include breakpoint(small) {
    display: none;
  }

  .sharedaddy {
    display: none !important;
  }
}

.videoitem {
  @include clearfix;
  @include span(1 of 4 no-gutters);
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  filter: grayscale(100%);

  &:nth-child(4n+5) {
    border-right: 0;
  }
  &.active {
    filter: none;
  }

  img {
    transform: translateZ(0);
    width: 100%;
    height: auto;
    display: block;
  }
}

.news-item {
  h4 {
    margin-top: .25em;

    a {
      font-weight: 600;
    }
  }
}

.site-footer {
  @include clearfix();
  @include span(12 of 12 nest);
  padding-top: 2em;
  font-size: .8em;
  border-top: 1px solid $color__background-hr;

  h3 {
    margin-top: 0;
  }

  ul {
    margin-left: 0;
    list-style-type: none;
  }

  hr {
    clear: both;
  }

  &__logo {
    @include span(1 of 7);
    @include breakpoint(small) {
      @include span(12 of 12);
      margin-bottom: 2em;
    }
  }
  &__contact,
  &__press,
  &__social {
    @include span(2 of 7);

    @include breakpoint(small) {
      @include span(12 of 12);
    }
  }


}

.contact {}
