p {
  margin-bottom: 1.3em;
}

b,
strong {
  font-weight: 600;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  @include font-size(1.5);
  font-family: $font__pre;
  line-height: $font__line-height-pre;
  overflow: auto;
  max-width: 100%;
  margin-bottom: 1.6em;
  padding: 1.6em;
  background: $color__background-pre;
}

code,
kbd,
tt,
var {
  @include font-size(1.5);
  font-family: $font__code;
}

abbr,
acronym {
  cursor: help;
  border-bottom: 1px dotted $color__border-abbr;
}

mark,
ins {
  text-decoration: none;
  background: $color__background-ins;
}

sup,
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  height: 0;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small,
.font_small {
  font-size: .833em;
}
