body,
button,
input,
select,
textarea {
  @include font-size(1.6);
  font-family: $font__main;
  font-weight: 300;
  line-height: $font__line-height-body;
  color: $color__text-main;
}

@import 'headings';

@import 'copy';
