.main-navigation {
  display: block;
  float: left;
  clear: both;
  width: 100%;

  .menu {
    border-bottom: 1px solid $color__background-hr;
    width: 100%;
  }

  ul {
    @include clearfix;
    margin: 0;
    padding-left: 0;
    list-style: none;

    ul {
      position: absolute;
      z-index: 99999;
      top: 1.5em;
      left: -999em;
      float: left;
      box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
      ul {
        top: 0;
        left: -999em;
      }
      li {
        &:hover > ul {
          left: 100%;
        }
      }
      a {
        width: 200px;
      }
    }
    li:hover > ul {
      left: auto;
    }
  }

  li {
    position: relative;
    float: left;

    @include breakpoint(small) {
      float: none;
    }
  }

  a {
    display: block;
    padding: gutter() (gutter() * 2);
    text-decoration: none;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a {
    border-bottom: 2px solid $color__background-hr;
  }
}

@include breakpoint(small) {
  .main-navigation.toggled .nav-menu {
    display: block;
    width: 100%;
    margin-bottom: 2em;
  }
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
  overflow: hidden;
  margin: 0 0 1.5em;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  width: 50%;
  text-align: right;
}
