.sticky {
  display: block;
}

.hentry {
  margin: 0 0 2em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

// Posts

.post {
  padding-bottom: gutter() * 2;
  border-bottom: 1px solid $color__background-hr;
}

.entry-meta {
  @extend small;
}

div.sharedaddy h3.sd-title:before {
  border-top: 0 !important;
}
.sd-social-icon .sd-content ul li[class*='share-'] a, .sd-social-icon .sd-content ul li[class*='share-'] a:hover, .sd-social-icon .sd-content ul li[class*='share-'] div.option a {
  border-radius: 0 !important;
}
.sharedaddy {
  margin-top: 1em;
  border-top: 1px dotted $color__background-hr;
}

// Biography

.biography {
  background: url("img/bgr-biography.jpg") no-repeat top center;
  padding-top: 400px;
  margin-bottom: 4em;

  h1 {
    @include span(10 of 12);
    @include push(1);
    @include post(1);
    text-align: center;
    margin-bottom: 1.5em;
    @include breakpoint(small) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 1em;
      padding-left: .25em;
      padding-right: .25em;
      text-align: left;
    }
  }

  .site-main > p {
    @include span(8 of 12);
    @include push(2);
    @include post(2);
    @include breakpoint(small) {
      margin-left: 0;
      margin-right: 0;
      @include span(12 of 12);
    }
  }

  blockquote {
    @include span(12 of 12);
    font-weight: bold;
    font-size: 3em;
    line-height: 1.1;
    text-align: center;
    margin: 1em 0;

    @include breakpoint(small) {
      font-size: 1.5em;
    }

    p {
      margin-bottom: 0;
    }
    + p {
      margin-top: 1.3em;
    }
  }

  @include breakpoint(small) {
    background-image: none;
    padding-top: 0;
  }
}

// Discography

#discography {
  @include breakpoint(large) {
    @include full(no-gutters);
  }
}
.album {
  @include breakpoint(large) {
    @include gallery(1 of 2);
  }
  @include breakpoint(small) {
    border-bottom: 1px solid #eee;
    margin-bottom: 1em;
  }
  &__release {
    display: inline;
    padding: .2em .6em;
    font-size: 75%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #eee;
    margin-top: .2em;
    @include breakpoint(large) {
      float: right;
    }
  }
  &__cover {
    @include breakpoint(small) {
      float: right;
      width: span(4);
      margin-left: gutter();
    }
  }
  &__title {
    margin-top: 0;
    @include breakpoint(small) {
      clear: none;
    }
  }
  &__tracks {
    margin-left: 1.5em;
    font-size: .8em;
  }
  &__track {
    border-top: 1px solid $color__background-hr;
    padding: .25em 0;
  }
}
